<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cities</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h2>List of petitions</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Button</th>
        </tr>

        <tr th:each="petition : ${petitions}">
            <td th:text="${petition.id}">Id</td>
            <td th:text="${petition.description}">Name</td>
            <td><button><a th:href="@{/vote(petition_id=${petition.id})}">Details</a></button></td>
        </tr>

    </table>

</body>
</html>