<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>Cities</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <h2 class="main-header-petitions">Petition info</h2>

    <div th:switch="${petition.description}">
        <div th:case="null">
            <h1>Ooops, petition is not existed...</h1>
        </div>
        <div th:case="*">
            <h1 th:text="${petition.description}"></h1>
        </div>
    </div>

</body>
</html>